*-checkpoint.ipynb
*.gz
*.npz
*.csv
*.pptx
*.docx
최종의최종의최종의최종.zip
최종의최종의최종의최종/
*.code-workspace
*.pyc
4. 김재훈/2020_Summer/CODE_TORCH/02 CNN/.idea/vcs.xml
4. 김재훈/2020_Summer/CODE_TORCH/02 CNN/.idea/vcs.xml
4. 김재훈/2020_Summer/CODE_TORCH/02 CNN/.idea/vcs.xml
4. 김재훈/2020_Summer/CODE_TORCH/02 CNN/.idea/modules.xml
4. 김재훈/2020_Summer/CODE_TORCH/02 CNN/.idea/misc.xml
